<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sinmingu.brailleproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".backtranslationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".braillestudyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".brailletableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".QuizSelect" />
        <activity android:name=".Quiz_word" />
        <activity android:name=".test_quiz"/>
        <activity android:name=".word_quiz"/>
        <activity android:name=".Quiz_test" />
        <activity android:name=".Quiz_character" />
        <activity android:name=".deepen_study_screen" />
        <activity android:name=".deepen_study"></activity>
    </application>

</manifest>